
body {
  background-repeat: no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1 {
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
  letter-spacing: 5px;
  padding-top: 200px;
  font-size: 80px;
  color:white;
}
